@import "../../../scss/variables";

.resume-position {
    display: flex;
    flex-flow: column nowrap;
    margin: 3px;
}

.resume-position-title {
    text-align: center;
    font-size: $f-resume-position-header-size;
    display: inline-block;
}

.resume-postion-hr {
    @extend %border-horizontal-solid;
    margin: 6px 0;
}

.resume-position-link {
    display: block;
    max-width: 450px;
}

.resume-position-image {
    width: 100%;
    height: auto;
}
