@import "../../../scss/variables";

// Portfolio Cells styles
.overlay-container {
    position: relative;
    cursor: pointer;
    max-width: 400px;
    height: 250px;
    background-color: $c-background-primary;
}

.overlay-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
@media only screen and (max-width: $size-tablet) {
    .overlay-image {
        width: auto;
        height: 100%;
    }
}

.overlay-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background: rgba(42, 43, 49, 0.6);
}

.overlay-container:hover .overlay-hover {
    opacity: 1;
}

.overlay-description {
    color: white;
    font-size: 1.5em;
    position: absolute;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
