@import "../../scss/variables";

.resume-column {
    @extend %resume-column;
}

// Positions Info
.resume-positions-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 30px 0 135px;
}

// Skills Graph
.resume-skills-graph {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 5px;
}
