@import "../../scss/variables";

.blog-page-column {
    @extend %content-column;
    padding: 0 10px;
    font-size: $f-blog-body-size;
}

// because of how the markdown files are processed (with ReactMarkdown), it requires mainly relational, tag-level selectors
.blog-page-column > p {
    margin-bottom: 0.5rem;
}

.blog-page-column > h1 {
    margin: 1rem 0;
    font-weight: 400;
}

.blog-page-column > p > img {
    @include border-shadow-soft;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
