@import "../../../../scss/variables";

.portfolio-modal {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.portfolio-modal-header {
    @extend %card-header;
}

.portfolio-modal-body {
    @extend %card-body;
}

.portfolio-modal-footer {
    @extend %card-footer;
}
