@import "../../scss/variables";

// General Navbar Styles
header {
    @include f-header;
    width: 100%;
    padding: 6px 10px 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.floating {
    position: fixed;
    top: 0px;
    z-index: 100;
    border-bottom: 4px solid #b539d8;
    background-color: #f2f3f2;
    background-image: url(../../img/tritexture.png);
    box-shadow: 0 14px 28px rgba(51, 30, 57, 0.25), 0 10px 10px rgba(51, 30, 57, 0.22);
}

// Logo and Title Name
.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-masthead {
    font-size: 1.5em;
    margin-left: 5px;
    color: $c-font-primary;

    @media screen and (min-width: $size-phone) {
        font-size: 2em;
    }
}

// Navigation Styles
.navburger {
    height: 0;
    overflow: hidden;
    display: none;

    @media screen and (min-width: $size-tablet) {
        height: auto;
        display: flex;
    }
}

.navburger-visible {
    height: max-content;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;

    @media screen and (min-width: $size-tablet) {
        flex-basis: auto;
        flex-grow: 0;
    }
}

.navburger-links > li {
    margin: 2px 10px;
    font-size: 1.5rem;

    @media screen and (min-width: $size-tablet) {
        display: inline-block;
    }
}

.active {
    color: $c-font-purple;
}

.navburger-button {
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: rgba(0, 0, 0, 0.2);
    transition: border-color 0.4s cubic-bezier(0.59, 0.17, 0.3, 0.75);
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;

    @media screen and (min-width: $size-tablet) {
        display: none;
    }
}
