@import "../../scss/variables";

.about-column {
    @extend %content-column;
    padding: 0 5px;
}

.about-title {
    @include f-header;
    font-size: $f-about-header-size;
    margin: 1rem 0 0;
}

.about-bio {
    font-size: $f-about-body-size;
}

#about-a11y {
    text-decoration: solid underline $c-font-primary;
    &:hover {
        color: $c-font-purple;
        text-decoration-color: $c-border-purple;
        cursor: help;
    }
}
