@import "../../scss/variables";

.home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-nav-grid {
    @extend %home-grid-dimensions;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.home-nav-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.home-nav-button {
    display: block;
    @extend %home-nav-dimensions;
    border: 3px solid black;
    border-radius: $roundness-softsquare;
}

#home-riley-face {
    display: block;
    margin: 5% auto;
    height: 90%;
}

.home-nav-icon {
    width: 85%;
    margin: 7.5%;

    &:hover {
        filter: hue-rotate(180deg);
    }
}

.home-nav-title {
    margin: 2px 0 0;
    @include f-header;
    font-weight: 500;
    font-size: 1.3rem;

    @media screen and (min-width: $size-phone) {
        font-size: 1.6rem;
        margin-top: 5px;
    }
}
