@import "../../scss/variables";

.home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.home-nav-grid {
    @extend %home-grid-dimensions;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.home-nav-button {
    display: block;
    @extend %home-nav-dimensions;
    border: 3px solid black;
    border-radius: $roundness-softsquare;
}

#home-riley-face {
    display: block;
    margin: 5% auto;
    height: 90%;
}

.home-nav-icon {
    width: 85%;
    margin: 7.5%;
}
