// General Colors
$white: #fffdff;
$black: #080808;
$purple: #b539d8;

// Backgrounds
$c-background-primary: $white;
$c-background-purple: $purple;

// Borders
$c-border-primary: $black;
$c-border-secondary: $white;
$c-border-purple: $purple;
$c-border-dark: rgba(0, 0, 0, 0.2);
$c-border-light: #dee2e6;

// Fonts
$c-font-primary: $black;
$c-font-secondary: $white;
$c-font-purple: $purple;
