@import "./reset";
@import "./color";
@import "./typography";

// General Variables
$texture-triangles: url(../img/tritexture.png);
$roundness-softsquare: 8px;
$roundness-oval: 20px;
$shadow-soft: 0 1px 6px rgba(0, 0, 0, 0.175);

// Screen Sizes
$size-phone: 576px; // Small screen - phone
$size-tablet: 765px; // Medium screen - tablet/iPad
$size-desktop: 992px; // Large screen / desktop
$size-xldesktop: 1200px; // Extra large screen / wide desktop

/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/
%content-column {
    max-width: 1200px;
    margin: 0 auto;
}

// Home Navigation
$home-grid-length: 600px;
%home-grid-dimensions {
    width: $home-grid-length / 1.6;
    height: $home-grid-length / 1.6;

    @media screen and (min-width: $size-phone) {
        width: $home-grid-length;
        height: $home-grid-length;
    }
}

$home-nav-length: 130px;
%home-nav-dimensions {
    width: $home-nav-length / 1.6;
    height: $home-nav-length / 1.6;

    @media screen and (min-width: $size-phone) {
        width: $home-nav-length;
        height: $home-nav-length;
    }
}

/*
 
 ########  #######  ##    ## ########  ######  
 ##       ##     ## ###   ##    ##    ##    ## 
 ##       ##     ## ####  ##    ##    ##       
 ######   ##     ## ## ## ##    ##     ######  
 ##       ##     ## ##  ####    ##          ## 
 ##       ##     ## ##   ###    ##    ##    ## 
 ##        #######  ##    ##    ##     ######  
 
*/
@mixin f-header {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
}
@mixin f-body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include f-header;
}

$f-about-header-size: 8rem;
$f-about-body-size: 2rem;

$f-blog-body-size: 1.15rem;

/*
 
 ########     ###     ######  ##    ## 
 ##     ##   ## ##   ##    ## ##   ##  
 ##     ##  ##   ##  ##       ##  ##   
 ########  ##     ## ##       #####    
 ##     ## ######### ##       ##  ##   
 ##     ## ##     ## ##    ## ##   ##  
 ########  ##     ##  ######  ##    ## 
 
*/
@mixin back-triangles {
    background-color: $c-background-primary;
    background-image: $texture-triangles;
}

%back-unfocused {
    opacity: 0.5;
    background-color: #000;
}

/*
 
 ########   #######  ########  ########  ######## ########   ######  
 ##     ## ##     ## ##     ## ##     ## ##       ##     ## ##    ## 
 ##     ## ##     ## ##     ## ##     ## ##       ##     ## ##       
 ########  ##     ## ########  ##     ## ######   ########   ######  
 ##     ## ##     ## ##   ##   ##     ## ##       ##   ##         ## 
 ##     ## ##     ## ##    ##  ##     ## ##       ##    ##  ##    ## 
 ########   #######  ##     ## ########  ######## ##     ##  ######  
 
*/
@mixin border-card {
    border-radius: $roundness-softsquare $roundness-softsquare $roundness-softsquare $roundness-softsquare;
}

@mixin border-shadow-soft {
    box-shadow: $shadow-soft;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/*
 
  ######     ###    ########  ########  
 ##    ##   ## ##   ##     ## ##     ## 
 ##        ##   ##  ##     ## ##     ## 
 ##       ##     ## ########  ##     ## 
 ##       ######### ##   ##   ##     ## 
 ##    ## ##     ## ##    ##  ##     ## 
  ######  ##     ## ##     ## ########  
 
*/

%card-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    @extend %back-unfocused;
}

%card-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

%card-header {
    background-color: $c-background-purple;
    @include f-header;
    color: $c-font-secondary;
    border-radius: $roundness-softsquare $roundness-softsquare 0 0;
    border-bottom: 1px solid $c-border-dark;
}

%card-body {
    padding: 1rem;
    background-color: $c-background-primary;
    border-inline-start: 1px solid $c-border-light;
    border-inline-end: 1px solid $c-border-light;
    @include f-body;
    color: $c-font-primary;
}

%card-footer {
    @include back-triangles;
    border-radius: 0 0 $roundness-softsquare $roundness-softsquare;
    border: 1px solid $c-border-light;
}

/*
 
 #### ##    ## ########  ##     ## ########  ######  
  ##  ###   ## ##     ## ##     ##    ##    ##    ## 
  ##  ####  ## ##     ## ##     ##    ##    ##       
  ##  ## ## ## ########  ##     ##    ##     ######  
  ##  ##  #### ##        ##     ##    ##          ## 
  ##  ##   ### ##        ##     ##    ##    ##    ## 
 #### ##    ## ##         #######     ##     ######  
 
*/
@mixin button-purple {
    border-radius: $roundness-oval $roundness-oval $roundness-oval $roundness-oval;
    padding: 0.4em 1.2em;
    margin: 0.25rem;
    background-color: $c-background-purple;
    color: $c-font-secondary;
    font-size: 1.1em;

    // Accessiblity focus
    &:focus {
        outline: 2px dotted $c-border-purple;
        outline-offset: 2px;
    }
    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: darken($color: $c-background-purple, $amount: 4);
    }
}

@mixin button-disabled {
    background-color: $c-background-primary;
    color: $c-font-primary;
    border-color: $c-border-warning;
    border-width: 2px;
    border-style: dashed;
    cursor: not-allowed;

    &:focus {
        outline: none;
    }
    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: $c-background-primary;
    }
}

%styled-inputs {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 90%;
    margin: 0 5%;
    padding: 1%;
    background: $c-background-primary;
    border: 1px solid $c-border-dark;
    border-radius: $roundness-softsquare;
    color: $c-font-primary;
    @include f-body;
    font-size: 1.1em;

    &:hover,
    &:focus {
        border: 1px solid $c-border-purple;
        box-shadow: 0 0 2px $c-border-purple;
    }

    &:invalid,
    &:required,
    &:-moz-ui-invalid,
    &:-moz-submit-invalid {
        border: 1px solid $c-border-warning;
        box-shadow: 0 0 2px $c-border-warning;
    }
}

/*
 
 #### ##    ##         ########  ######## ##     ## #### ######## ##      ## 
  ##  ###   ##         ##     ## ##       ##     ##  ##  ##       ##  ##  ## 
  ##  ####  ##         ##     ## ##       ##     ##  ##  ##       ##  ##  ## 
  ##  ## ## ## ####### ########  ######   ##     ##  ##  ######   ##  ##  ## 
  ##  ##  ####         ##   ##   ##        ##   ##   ##  ##       ##  ##  ## 
  ##  ##   ###         ##    ##  ##         ## ##    ##  ##       ##  ##  ## 
 #### ##    ##         ##     ## ########    ###    #### ########  ###  ###  
 
*/
//
//
// FORBIDDEN ZONE BELOW
//
//

//Hover transitions variables
$cubeBezier: cubic-bezier(0.59, 0.17, 0.3, 0.75);
$standardTransitionDuration: 0.4s;
