@import "./reset";
@import "./color";
@import "./typography";

// General Variables
$texture-triangles: url(../img/tritexture.png);
$roundness-softsquare: 8px;
$roundness-oval: 20px;
$shadow-soft: 0 1px 6px rgba(0, 0, 0, 0.175);

// Screen Sizes
$size-phone: 576px; // Small screen - phone
$size-tablet: 765px; // Medium screen - tablet/iPad
$size-desktop: 992px; // Large screen / desktop
$size-xldesktop: 1200px; // Extra large screen / wide desktop

/*
 
 ########  #######  ##    ## ########  ######  
 ##       ##     ## ###   ##    ##    ##    ## 
 ##       ##     ## ####  ##    ##    ##       
 ######   ##     ## ## ## ##    ##     ######  
 ##       ##     ## ##  ####    ##          ## 
 ##       ##     ## ##   ###    ##    ##    ## 
 ##        #######  ##    ##    ##     ######  
 
*/
@mixin f-header {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
}
@mixin f-body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
}

/*
 
 ########     ###     ######  ##    ## 
 ##     ##   ## ##   ##    ## ##   ##  
 ##     ##  ##   ##  ##       ##  ##   
 ########  ##     ## ##       #####    
 ##     ## ######### ##       ##  ##   
 ##     ## ##     ## ##    ## ##   ##  
 ########  ##     ##  ######  ##    ## 
 
*/
@mixin back-triangles {
    background-color: $c-background-primary;
    background-image: $texture-triangles;
}

%back-unfocused {
    opacity: 0.5;
    background-color: #000;
}

/*
 
 ########   #######  ########  ########  ######## ########   ######  
 ##     ## ##     ## ##     ## ##     ## ##       ##     ## ##    ## 
 ##     ## ##     ## ##     ## ##     ## ##       ##     ## ##       
 ########  ##     ## ########  ##     ## ######   ########   ######  
 ##     ## ##     ## ##   ##   ##     ## ##       ##   ##         ## 
 ##     ## ##     ## ##    ##  ##     ## ##       ##    ##  ##    ## 
 ########   #######  ##     ## ########  ######## ##     ##  ######  
 
*/
@mixin border-card {
    border-radius: $roundness-softsquare $roundness-softsquare $roundness-softsquare $roundness-softsquare;
}

@mixin border-shadow-soft {
    box-shadow: $shadow-soft;
}

/*
 
  ######     ###    ########  ########  
 ##    ##   ## ##   ##     ## ##     ## 
 ##        ##   ##  ##     ## ##     ## 
 ##       ##     ## ########  ##     ## 
 ##       ######### ##   ##   ##     ## 
 ##    ## ##     ## ##    ##  ##     ## 
  ######  ##     ## ##     ## ########  
 
*/

%card-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    @extend %back-unfocused;
}

%card-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

%card-header {
    background-color: $c-background-purple;
    @include f-header;
    color: $c-font-secondary;
    border-radius: $roundness-softsquare $roundness-softsquare 0 0;
    border-bottom: 1px solid $c-border-dark;
}

%card-body {
    background-color: $c-background-primary;
    border-inline-start: 1px solid $c-border-light;
    border-inline-end: 1px solid $c-border-light;
}

%card-footer {
    @include back-triangles;
    border-radius: 0 0 $roundness-softsquare $roundness-softsquare;
    border: 1px solid $c-border-light;
}

/*
 
 #### ##    ## ########  ##     ## ########  ######  
  ##  ###   ## ##     ## ##     ##    ##    ##    ## 
  ##  ####  ## ##     ## ##     ##    ##    ##       
  ##  ## ## ## ########  ##     ##    ##     ######  
  ##  ##  #### ##        ##     ##    ##          ## 
  ##  ##   ### ##        ##     ##    ##    ##    ## 
 #### ##    ## ##         #######     ##     ######  
 
*/
@mixin button-purple {
    border-radius: $roundness-oval $roundness-oval $roundness-oval $roundness-oval;
    padding: 0.5em 1.25em;
    background-color: $c-background-purple;
    color: $c-font-secondary;
    font-size: 1.1em;

    // Accessiblity focus
    &:focus {
        outline: 2px dotted $c-border-purple;
        outline-offset: 2px;
    }
    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: darken($color: $c-background-purple, $amount: 4);
    }
}

%styled-inputs {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 90%;
    margin: 0 5%;
    padding: 1%;
    background: $c-background-primary;
    border: 1px solid $c-border-dark;
    border-radius: $roundness-softsquare;
    color: $c-font-primary;
    @include f-body;
    font-size: 1.1em;

    &:hover,
    &:focus {
        border: 1px solid $c-border-purple;
        box-shadow: 0 0 2px $c-border-purple;
    }

    &:invalid,
    &:required,
    &:-moz-ui-invalid,
    &:-moz-submit-invalid {
        border: 1px solid $c-border-warning;
        box-shadow: 0 0 2px $c-border-warning;
    }
}

//
//
// FORBIDDEN ZONE BELOW
//
//

// SCSS size variables
$media-sizes: 576px 765px 992px 1200px;

// Div variables
$blockRoundness: 4px;

$blockColorWhite: #f4f4f4;
$blockColorBlack: #333;
$blockColorPurple: #b539d8;

$formBackgroundColor: #e6e6e6;

@mixin divisionLine {
    background: $fontColorBlack;
    border-radius: 10px;
}

@mixin divisionLineHort {
    @include divisionLine();
    width: 4px;
    height: auto;
}
@mixin divisionLineVert {
    @include divisionLine();
    width: auto;
    height: 4px;
}

@mixin softBorders {
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
    border-color: rgba(0, 0, 0, 0.2);
}

@mixin hardBorders {
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
    border-color: rgba(0, 0, 0, 0.5);
}

@mixin lightShadowBorder {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

$fontColorWhite: #e8f5f6;
$fontColorPurple: $blockColorPurple;

// Input Variables
@mixin purpleButton {
    background-color: $blockColorPurple;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    padding: 9px 20px;
    @include bodyFont;
    color: $fontColorWhite;
    @include opacityTransition();

    &:hover,
    &:focus,
    &:active {
        @include hoverOpacityTransition;
    }
}

@mixin underlineLink {
    color: $fontColorPurple;
    text-decoration: underline;
}

//Hover transitions variables
$cubeBezier: cubic-bezier(0.59, 0.17, 0.3, 0.75);
$standardTransitionDuration: 0.4s;

@mixin opacityTransition {
    opacity: 1;
    transition: opacity $standardTransitionDuration $cubeBezier;
}

@mixin hoverOpacityTransition {
    opacity: 0.7;
    transition: opacity $standardTransitionDuration $cubeBezier;
}

@mixin borderTransition {
    transition: border-color $standardTransitionDuration $cubeBezier;
}

@mixin fontColorTransition {
    transition: color $standardTransitionDuration $cubeBezier;
}
